{# templates/categories.html.twig #}
{% extends 'base_order.html.twig' %}
{% block title %}Category list{% endblock %}
{% block content %}
    <ul>    
    {% for cat in categories %}
        <li>{{ cat.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
