<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Factorial</title>        
    </head>
    <body>
        {% if error %}
        Check the parameter
        {% else %}
        Resul: {{ resul }}
        {%endif%}
    </body>
</html>
