<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lista de vínculos</title>        
    </head>
    <body>
        <ul>
			<li><a href = {{path("players")}}>All players</a></li>
			<li><a href = {{path("teamPlayers", {id:2})}}>Barça players</a></li>
		</ul>
    </body>
</html>
