<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Paths</title>        
    </head>
    <body>
        <a href="{{ path('table') }}">Table</a>
		<br>
		<a href="{{ path('positive', {num: number} )}}">Positive</a>
		<br>
		<a href="{{ url('positive', {num: number} )}}">Positive</a>
    </body>
</html>
