<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Players</title>        
    </head>
    <body>
		{% if error == 1%}
			<p>Team not found</p>
		{% elseif  error == 2%}
			<p>Team without players</p>
		{% else %}
			<table> 
				<tr><th>Code</th><th>Name</th><th>Age</th><th>Team</th></tr>
				{%for player in players %}
					<tr><td>{{ player.id }}</td><td>{{ player.name }}</td><td>{{ player.age }}</td><td>{{ player.team.name }}</td></tr>
				{% endfor %}
			</table>
		{%endif %}
    </body>
</html>
