
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>If</title>        
    </head>
    <body>
        {% if number > 0 %}
		Positive
		{% else %}
		Negative or equal to 0
		{%endif%}
    </body>
</html>
