{# templates/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Order application</title>
    </head>
    <body>		
    	<form action="{{ path('login') }}" method="post">
			User
			<input type="text" id="username" name="_username" />
			Password
			<input type="password" id="password" name="_password" />
			<button type="submit">login</button>
		</form>
    </body>
</html>
