
<div class="pantalla">
		<p id="nameMail"><a href="main.php">DISCORDIA {{var}} {{se}}</a></p>
			<button onclick="logOut()" class="logout">Log out</button>
		
        <div class="leftSide">

            <div class="buttons">
                <div class="newMsg">
                    <button class="newMsgBtn" onclick="showSB()">+ Send new message</button>
                </div>

            <div class="menu">
                <button class="tab" onclick="showContacts()">Messages</button>
                
                {% if rol%}
                <button class="tab" onclick="showFriends()">Friends</button>
                {% else %}
                <button class="tab" onclick="showAllUsers()">All Users</button>
                {%endif%}
                
            </div>
            </div>

<div class="contacts" id="contacts">

</div>


<div class="userPerSpa">
    <div class="photo">
          

        <img src="images/avatar/{{nameUser}}.jpg" class="profPict" alt="">
            </div>

            <div class="data">
        <div class="usrName">{{nameUser}}</div>
    
		<button class="usrSpaBtn" onclick="showSBF()">
			Add friend
        </button>

        <button class="usrSpaBtn" onclick="showNewGroup()">
            New group
		</button>
		
		<button class="usrSpaBtn" onclick="showModifyProfile()">
			Profile
		</button>
              
    </div>


</div>
</div>

<div class="chat" id="chat1">
</div>
</div>
